/* Bootstrap Toggle v2.2.2 corrections for Bootsrtap 4*/
.toggle-off {
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.toggle.off {
    border-color: rgba(0, 0, 0, .25);
}

.toggle-handle {
    background-color: white;
    border: thin rgba(0, 0, 0, .25) solid;
}
/* Bootstrap Toggle v2.2.2 corrections for Bootsrtap 4*/

/* SIDEBAR */
/*
    DEMO STYLE
*/

body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}


.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 20px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar{
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index: 1;
}


/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    transition: all 0.3s;
}

.sidebar-main{
    width: 250px;
    margin-left: -250px;
    background: #eaedfc;
    color: #fff;
}


.sidebar.active {
    margin-left: 0px;
}

.sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

.content {
    width: 100%;
    padding-bottom: 10vh;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

.content.active {
    width: calc(100% - 250px);
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */


.mCSB_dragger_bar,.mCSB_scrollTools .mCSB_dragger{
    z-index: 2000 !important;
}
.mCSB_dragger_bar{
    background-color: #61626b !important;
}
/* SIDEBAR --end */

.list-group-item{
    padding-left: 4px;
    font-size: 14px;
}


.table-container{
    margin-bottom: 30px;
}

.analysed-panel-btn-block{
    margin-bottom: 30px;
}

.input-analysis-type-div, #log-input-area, #log-button-div{
    margin-bottom: 20px;    
}

/* LOG INPUT */

#log-input-area{
    position: relative;
}

.log-input-msg,.log-input{
    height:200px;
    width:100%;
    border: 3px dashed #1976d2;
    border-radius: 5%; 
}

.log-input{
    cursor:pointer;
    opacity: 0;
}

.log-input-msg{ 
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position:absolute;
    top: 0;
    z-index: -1;
}

/* LOG INPUT */

pre{
    white-space: pre-wrap;
    font-family: 'Ubuntu' !important;  
}

.student-name{
    font-weight: bold;
    font-size: 18px;
    border-left: 10px solid #4056b6;
}

/* ---------------------------------------------------
    REPLAYER MODAL
----------------------------------------------------- */

.modal-dialog{
    margin: auto;
    max-width: 95%;
}

.modal-content{
    height: 95vh;
    margin-top: 2.5vh;  
}

.modal-main, .modal-sidebar,
.modal-main-content, .modal-body{
    height: 100%;
}

.modal-sidebar{
    width: 250px;
    padding: 0px !important;
}

.modal-main-content{
    padding-top: 0px !important;
    width: calc(100% - 200px);
}


.modal-sidebar{
    padding-right:10px;
}


#modal-sidebar-event-list,#modal-main-ide{
    height: 60%;
}


#modal-sidebar-event-data-list,#modal-main-shell{
    height: 30%;
}

.modal-upper{
    min-height: 5%;
    max-height: 20%;
}

.scroll{
    overflow: scroll;
}

.scroll-y{
    overflow-y: scroll;
    overflow-x: hidden;
}

.scroll-y-auto{
    overflow-y: auto;
    overflow-x: hidden;
}

.scroll-auto{
    overflow: auto;
}

.event-list{
    font-size: 10px;
    height: 100%;
  }

.event-row:hover{
    background-color: #d3d3d3;
    cursor: pointer;
}

.event-list-row.active{
    background-color: #a9b5e9;
}

.event-list-sec{
    text-align: right;
}

.replayer-body, .spacer{
    background-color: #e9e9e9;
}

.modal-middle, .modal-bottom{
    background-color: #fefefe;
    border: 0.5px solid #d6d6d6;
}

.file, .file-shell{
    border: 1px solid #b1b1b1;
    height: 50%;
    padding: 2px !important;
}

.file.active, .file-shell.active{
    background-color: #f8f8f8;
}

.file-shell{
    display: inline;
    padding: 0px 5px;
}

.row{
    margin:0px;
}

.modal-sidebar div{
    padding: 0px;
}

.event-row div{
    padding: 3px;
}

pre code{
    font-size: 12px;
}

.input-analysis-type-div{
    position: relative;
}

.icon-info{
    color:#b6b6b6;
    position: absolute;
    top: -15px;
}

.alert{
    z-index: 100000;
    position: fixed;
    width: 100%;
    opacity: 95%;
    width: 50%;
    right: 0;
}

.bold{
    font-weight: bold;
}

a:hover{
    cursor: pointer;
}

#alert-error-list{
    height: 50vh;
}

/* ---------------------------------------------------
    FOOTER STYLE
----------------------------------------------------- */

.footer{
    height : 10vh;
    width: 100%;
    background-color: #0060aa;
    padding: 0px;
    position: absolute;
    bottom: 0;
}


.responsive{
    height: 100%;
}

#footer-ut-logo-white{
    height: 100%;
}

#log-analysis{
    margin-bottom: 10%;
}

#repo-link{
    font-size: 6vh;
    color: #e9e9e9;
    overflow: hidden;
}

/* ---------------------------------------------------
    TEXT LENGTH GRAPH STYLE
----------------------------------------------------- */

.graph-content{
    max-height:95vh;
    height: auto;
}

canvas{
    min-height: 85vh;
    max-height: 85vh; 
}

.custom-switch .custom-switch-input:checked+.custom-switch-btn {
    background: #0060aa;
}

.log-input-container{
    min-width: 150px;
}

.analysed-panel-btn-block, .table-container{
    overflow: auto;
}

.switch-label-text{
    line-height: 30px;
    font-size: 20px;
}

/* ---------------------------------------------------
    RESPONSIVE CONTENT
----------------------------------------------------- */


@media (max-width: 768px) {
    .sidebar {
        margin-left: -250px;
    }
    .sidebar.active {
        margin-left: 0;
    }
    .content {
        width: 100%;
    }
    .content.active {
        width: calc(100% - 250px);
    }
    .modal-sidebar{
        width: 150px;
    }

    .modal-sidebar-header{
        font-size: 12px;
        font-weight: bold;
    }
    
    .modal-main-content{
        width: calc(100% - 100px);
    }
}

@media (max-width: 576px) {
    .log-input-area-msg{
        font-size: 1.25rem;
    }

    .switch-label-text{
        line-height: 20px;
        font-size: 15px;
    }
} 